.form{
    &-card{
        padding: 1rem;
        width: 70%;
        margin: auto;
    }

    &__group{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem
    }

    &__btn{
        margin-top: 0.5rem;
    }

    &__lbl{
        text-transform: uppercase;
    }

    &__input{

    }
}