<section class="content">
    <div class="content__header"></div>
    <div class="content__body">
        <div class="card card-background">
            <div class="card__header">
                <h2 class="card__title">Add User</h2>
                <p-button class="add-btn" label="Go Back" [routerLink]="['']"><i class="pi pi-arrow-left"
                        pButtonIcon></i></p-button>

            </div>

            <div class="form-card">
                i am form
            </div>
        </div>
    </div>
</section>